<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GbMethodManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71411FF41F2ED7FA00459ECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7141200D1F2ED7FA00459ECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>714120181F2ED7FA00459ECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
